@font-face {
  font-family: GetSchwifty;
  src: url(get_schwifty.ttf);
}
@font-face {
  font-family: irishgrover;
  src: url(irishgrover.ttf)
}

body {
    font-family: irishgrover, sans-serif;
    margin: 0;
    background-image: url('https://cdn.europosters.eu/image/1300/art-photo/rick-and-morty-space-i115643.jpg');
    background-attachment: fixed; /* Make the background image fixed */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-size: cover; /* Cover the entire viewport with the background image */
    padding: 0;
}

h1 {
  font-family: GetSchwifty;
  font-size: 60px;
  padding: 10px;
  width: 500px;
  border: 1px solid green;
  margin: 20px;
  text-align: center;
  color: greenyellow;
  background-color: black;
  position: absolute;
  right: calc(0.5in - 10px);
  top: 0;
}
table {
  background-color: black;
  color: green ;
  position: absolute;
  right: 10;
  margin-top: 200px;
  padding: 20px;
  width:500px;
}

p {
  font-family: irishgrover;
  font-size: 22px;
  width: 460px;
  border: 1px solid green;
  padding: 10px;
  background-color: black;
  color: white;
  text-align: right;
  margin-top: 150px;
  position: absolute;
  right: calc(0.5in - 10px);
  top: 0;
  
}

.container {
  margin-top: 50px;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    height: 100vh; /* Set container height to 100% of viewport height */
}

.character-list {
    display: grid; /* Use grid layout */
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    grid-gap: 10px; /* Spacing between items */
    justify-content: center; /* Center items horizontally */
    margin-top: 500px; /* Adjust the margin-top value to move the images up */
    border: 10px solid rgb(97, 240, 53);; /* Add border style to the container */
}

.character-item {
  margin: 10px;
}

.character-thumbnail {
  width: 250px;
  height: 250px;
  cursor: pointer;
  border: 4px solid blue; /* Add border style */
  border-radius: 50%; /* Make the border radius 50% of the width/height to create a circle */
  transition: transform 0.3s ease; /* Add transition for smooth sliding effect */
}

.character-thumbnail:hover {
  transform: scale(1.1); /* Scale the image on hover to create a slide effect */
  border-color:rgb(97, 240, 53); /* Change border color on hover */
}

@keyframes border-animation {
    from {
        border-width: 2px;
    }
    to {
        border-width: 10px;
    }
}

.character-thumbnail-small {
  width: 125px;
  height: 125px;
}

.selected-team {
  border: 8px solid rgb(0, 0, 0);
  padding: 10px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  /* height: 350px; */
  overflow: auto;
  display: flex;
  justify-content: space-between;
}

.selected-character {
  flex: 0 0 10%;
}
.selected character img {
  width: 100px;
  height: auto;
  flex: 0 0 10%;
}

.character-details {
  margin-top: 20px;
  text-align: center;
}

#character-details-table {
    display: none; /* Hide the table by default */
  }

/* Styling for the selected thumbnail */
.selected-thumbnail {
  text-align: center;
  margin-top: 300px;
}

.selected-thumbnail img {
 width: 25%; 
  /* Make the thumbnail 75% smaller */
  display: block;
  margin: 0 00 0 150px; 
  margin-top: 200px;
  /* Center the thumbnail horizontally */
  border: 4px solid blue; /* Add border style */
}

/* Styling for the title of the selected team */
.selected-team-title {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  z-index: 1000;
  top: 180px;
  color: rgb(217, 57, 78)
}


.buttons {
    position: fixed; /* Change from absolute to fixed */
    bottom: 20px; /* Adjust the distance from the bottom as needed */
    left: 48.81%;
    transform: translateX(-50%);
    z-index: 1; /* Ensure the buttons are above other elements */
}

.btn {
    width: 80px; /* Adjust width as needed */
    margin: 0 10px; /* Add some horizontal spacing between buttons */
    background-color: rgb(97, 240, 53); /* Change the background color */
    border: 4px solid blue; /* Change the border color, style, and width */
    color: red; /* Change the font color */
    font-size: 20px; /* Change the font size */
    font-family: cursive;
    font-weight: bold; /* Make the font thicker */
  z-index: 1000;
  top: 180px;
  color: rgb(217, 206, 57)
}

.submit-box {
  margin-top: 20px;
  font-family: GetSchwifty;
}

#submit-box {
  position: relative; 
  display: inline-block;
  font-family: GetSchwifty; 
}

.submit-team-name {
    color: rgb(230, 238, 228); font-size: 17px; line-height: 17px; padding: 3px; border-radius: 7px; font-family: GetSchwifty, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right, rgb(64, 170, 240) 0%, rgb(35, 203, 55) 50%, rgb(222, 27, 228) 100%); box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid rgb(28, 110, 164); display: inline-block;}
    .myButton:hover {
    background: #77ef52; }
    .myButton:active {
    background: #53de30; }
    
#searchBox {
    width: 200px;
    padding: 10px;
    margin-top: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    }
    
#searchBox:focus {
    outline: none;
    border-color: #66afe9;
    }