body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-image: url('https://cdn.europosters.eu/image/1300/art-photo/rick-and-morty-space-i115643.jpg');
  padding: 0;
}

h1 {
  font-family: cursive;
  padding: 10px;
  width: 300px;
  border: 15px solid green;
  margin: 20px;
  text-align: right;
  color: greenyellow;
  background-color: black;
  position: fixed;
  right: 0;
  top: 0;
}
table {
  background-color: black;
  color: red;
  position: absolute;
  right: 0;
  margin-top: 200px;
  padding: 20px;
}

p {
    background-color: black;
    color: white;
    text-align: center; /* Center the text */
    margin: 100px auto 0; /* Center the element vertically and set left/right margins to 'auto' to horizontally center */
    max-width: 80%; /* Set maximum width to 80% of the viewport */
    padding: 40px; /* Add padding to the element */
    font-size: 30px; /* Increase font size */
  }

.container {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    height: 100vh; /* Set container height to 100% of viewport height */
}

.character-list {
    display: grid; /* Use grid layout */
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    grid-gap: 10px; /* Spacing between items */
    justify-content: center; /* Center items horizontally */
}

.character-item {
  margin: 10px;
}

.character-thumbnail {
  width: 250px;
  height: 250px;
  cursor: pointer;
  border: 8px solid black; /* Add border style */
}

.selected-team {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.selected-character {
  margin: 10px;
}

.character-details {
  margin-top: 20px;
  text-align: center;
}

#character-details-table {
    display: none; /* Hide the table by default */
  }

/* Styling for the selected thumbnail */
.selected-thumbnail {
  text-align: center;
}

.selected-thumbnail img {
 width: 15%; 
  /* Make the thumbnail 75% smaller */
  display: block;
  margin: 0 auto; 
  /* Center the thumbnail horizontally */
  border: 10px solid black; /* Add border style */
}

/* Styling for the title of the selected team */
.selected-team-title {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.buttons {
    position: absolute;
    top: 100%; /* Center vertically */
    left: 48.5%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the element */
}

.btn {
    width: 80px; /* Adjust width as needed */
    height: 80px; /* Adjust height as needed */
    margin-top: 20px; /* Adjust this value to move the buttons down */
    background-color: rgb(97, 240, 53); /* Change the background color */
    border: 4px solid blue; /* Change the border color, style, and width */
    color: red; /* Change the font color */
    font-size: 20px; /* Change the font size */
    font-family: cursive;
    font-weight: bold; /* Make the font thicker */
}